# Server config
SERVER_PORT = 3000

# Database config
DATABASE_URL = 'mongodb://localhost:27017'
DATABASE_NAME = 'controle_financeiro'

# Authentication config
AUTH_TYPE = 'jwt'
AUTH_SECRET = 'banana'
AUTH_EXPIRATION = '1h'

# Password crypt config
PASSWORD_SALT = 'banana'
PASSWORD_DIGEST = 'sha512'
PASSWORD_KEYLEN = 64
PASSWORD_ITERATIONS = 10000